slurm_spool/slurmd/*
!slurm_spool/slurmd/.gitkeep

slurm_spool/slurmctld/*
!slurm_spool/slurmctld/.gitkeep

slurm_logs/*
!slurm_logs/.gitkeep

jupyter_notebooks/*
!jupyter_notebooks/.gitkeep

jupyter_config/jupyterhub_cookie_secret
jupyter_config/jupyterhub.sqlite

/_build_tmp/
/brics_jupyterhub/_dev_build_data/
/brics_slurm/_dev_build_data/